// Define variables for your color scheme


$white: #FFFFFF;
$red: #C3172C;
$blue: #4A90E2;
$dark-blue: #074e81;
$yellow: #F9D141;
$orange: #E67E22;
$green: #629528;
$gray: #0E0000;
$light-gray: #FEFEFE;
$dark-gray: #393939;
$cream: #DBBB9F;
$cristal: #26B3BF;
$purple: #D44FED;
$marine:  #074E81;
