.footer {
  background-color: black;
  width: 100%;
  min-height: 10vh;
  padding: 30px 5px;
}
.footer-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
}
.legales-links {
  color: $light-gray;
  width: inherit;
}
.legales-links a {
  color: $light-gray;
}
.copyright {
  width: 100%;
  text-align: right;
  font-size: 14px;
  color: $light-gray;
}
