<div class="section">
  <div class="banner" id="auteur">
    <h1 class="main-title">L'AUTEUR</h1>
  </div>
  <div class="experience">
    <p>
      Ancien Professeur de Chimie-Physique à l’Université de Nancy, je me suis intéressé à la radiesthésie à la suite de la lecture des ouvrages d’Armand Viré et d’Yves Rocard. Le premier a été directeur du Laboratoire de Biologie Cavernicole au Muséum d’Histoire naturelle à Paris. Au départ plus que réservé vis-à-vis de « la technique » utilisée, il est devenu l’un des meilleurs sourciers d’Europe. Yves Rocard a été directeur du Laboratoire de Physique de l’École Normale Supérieure, dont la spécialité était le magnétisme et qui a cherché à expliquer par la Physique le signal sourcier. <br>
      Quatre informations m’ont conduit à me lancer dans la pratique de cette « discipline ». La première est liée à la publication il y a une trentaine d’années d’un article en première page qui indiquait que 80% des fuites d’eau à Nancy étaient détectées avec les baguettes de sourcier. <br>
      J’apprenais par la suite à l’École de Géologie par des collègues russes que des cours de radiesthésie étaient donnés aux étudiants géologues dans des universités russes pour la détection de l’eau et des minerais. <br>
      La troisième information tient aux discussions que j’ai eues avec des chefs de chantier de travaux publics qui utilisaient des engins lourds où j’apprenais que dans leurs équipes se trouvaient très souvent un ouvrier qui indiquait aux conducteurs d’engin les endroits à éviter en utilisant les baguettes. <br>
      La dernière information est celle de collègues travaillant avec des Sociétés de Traitement des Eaux qui ont parmi leur personnel le plus souvent des sourciers. <br>
      J’ai alors, à partir de mes lectures, effectué de premiers essais sur des sites connus puis inconnus, et des bons résultats que j’obtenais j’en ai déduit que je faisais partie selon Yves Rocard des 80% de personnes capables de détecter et de suivre les eaux souterraines, à condition de bien s’y préparer.  <br>
      Désormais davantage disponible, j’ai mis à profit mon expérience dans ce domaine pour voir les possibilités qu’offrent les baguettes de sourcier dans l’analyse des phénomènes qui relèvent de la Chimie, de la Physique et de la Biologie.
    </p>
  </div>
</div>
