<div class="section">
  <div class="banner" id="biologie">
    <h1 class="main-title">LA BIOLOGIE</h1>
  </div>
  <div class="experience">
    <div class="title">
      <h2>1. Biologie végétale</h2>
      <hr class="sep-h2">
      <h3>1.1. Comportement des baguettes vis-à-vis des arbres</h3>
      <hr class="sep-h3">
      <h4>1.1.1. Influence de la présence d’une conduite d’eau sur la végétation</h4>
      <hr class="sep-h4">
    </div>
    <p>
      L’arbre n’aime pas que l’eau circule sous ses pieds, et il le fait savoir : une atténuation localisée de la hauteur de la végétation dans une bordure a été observée à l’endroit précis où passe une conduite d’eau qui est à 5m de profondeur.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1670833215/sourcier/bio-1.webp" alt="biologie-1">
    </div>
    <p>
      Le tronc d’un tilleul au bord de la route est profondément modifié par le passage de l’eau sous ses pieds. Il en est de même pour un arbre tordu au bord du Canal du Château de Fontainebleau. <br>
      On constate également qu’une veine d’eau passe souvent sous un arbres "cancéreux" ou présentant deux troncs en V.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1670833215/sourcier/bio-2.webp" alt="biologie-2">
    </div>
    <div class="titre">
      <h4>1.1.2. Montée de la sève dans un arbre</h4>
      <hr class="sep-h4">
    </div>
    <p>
      Lorsque l’on s’approche frontalement du tronc d’un arbre, les baguettes s’écartent à partir d’une distance D. Elles se dirigent à l’opposé du tronc lors d’une approche tangentielle. Le signal est identique à celui que l’on observe quand on se trouve en face d’une conduite verticale lorsque l’eau monte. Les baguettes indiquent donc la montée de la sève riche en eau. Elles sont inactives en hiver lorsque l’arbre a perdu ses feuilles ou s’il est mort. <br>
      La photosynthèse joue un rôle essentiel au niveau de la montée de la sève au cours de la journée comme l’attestent les figures relatives au tilleul et au séquoia. On observe la montée de la sève dès le lever du jour pour atteindre un maximum correspondant au meilleur éclairement puis une diminution progressive pour disparaitre à la fin du jour.  <br>
      La courbe D=f(t) dépend de l’arbre, de la météo : saison, éclairement, vent, température, mais aussi de la maladie éventuelle de l’arbre. On voit par exemple pour le séquoia que les valeurs maximums de D varient de 23 à 3 m lorsque l’on passe de septembre à décembre.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1670833215/sourcier/bio-3.webp" alt="biologie-3">
    </div>
    <p>
      Habituellement on utilise des sondes que l’on insère dans le tronc de l’arbre (sondes Granier) pour étudier son comportement. Il est remarquable de constater que les courbes de flux de sève déterminés par ces appareils sont tout fait comparables à celles que nous avons déterminées, sans intervention sur l’arbre. Des expériences sont actuellement menées par les deux méthodes pour étalonner les distances D en en flux.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1670833215/sourcier/bio-4.webp" alt="biologie-4">
    </div>
    <div class="title">
      <h3>1.2. Comportement des baguettes vis-à-vis des fruits </h3>
      <hr class="sep-h3">
      <h4>1.2.1. Influence de leurs propriétés triboélectriques  </h4>
      <hr class="sep-h4">
    </div>
    <p>
      Certains fruits donnent un signal lorsqu’on les approche avec les baguettes et d’autres non. On peut les ranger dans trois catégories : quand on approche frontalement une pêche les baguettes s’écartent alors qu’elles se croisent devant une tomate et sont sans effet devant un avocat. <br>
      Lors d’une approche tangentielle on observe, dans le même ordre une répulsion des baguettes une attraction et une absence de signal.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1670833215/sourcier/bio-5.webp" alt="biologie-5">
    </div>
    <p>
      On note que les fruits appartenant aux deux premières catégories comme la pêche et la tomate perdent leurs signaux lorsqu’ils sont frottés par de la laine ou coupés. Inversement les fruits de la dernière catégorie comme l’avocat se comportent comme la pêche lorsqu’ils sont mouillés ou coupés. <br>
      Ces signaux sont directement liés aux charges triboélectriques des fruits .Lorsque l’on frotte la pêche avec une tige de verre , l’électromètre indique qu’il s’est développé à la surface du fruit une charge positive ; elle est négative pour la tomate et nulle pour l’avocat qui   est antistatique et qui inhibe comme certains plastiques la réponse des baguettes lorsqu’il est placé par exemple devant une pièce de 2€. Son signal n’est pas perturbé si l’on remplace l’avocat par une tomate ou une pêche.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1670833215/sourcier/bio-6.webp" alt="biologie-6">
    </div>
    <div class="title">
      <h4>1.2.2. Limites de détection</h4>
      <hr class="sep-h4">
    </div>
    <p>
      On constate que la distance de détection des fruits évolue avec temps. Il est ainsi possible de caractériser leur fraicheur comme l’atteste la figure.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1670833215/sourcier/bio-7.webp" alt="biologie-7">
    </div>
    <div class="title">
      <h4>1.2.3. Comportement des témoins </h4>
      <hr class="sep-h4">
    </div>
    <p>
      La règle des témoins permet de vérifier si deux fruits sont de la même espèce. Quand on rapproche deux tomates identiques qui seules attirent les baguettes, on constate que leur orientation entre les deux tomates change jusqu’à une distance de détection qui est le double de celle correspondant à la tomate seule. <br>
      Si maintenant on met en face deux tomates d’espèces différentes, les baguettes ne réagissent pas entre les deux tomates. <br>
      Quand on rapproche deux tomates identiques qui seules attirent les baguettes, on constate que leur orientation entre les deux tomates change jusqu’à une distance de détection qui est le double de celle correspondant à la tomate seule. <br>
      Si maintenant on met en face deux tomates d’espèces différentes, les baguettes ne réagissent pas entre les deux tomates.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1670833216/sourcier/bio-8.webp" alt="biologie-8">
    </div>
    <p>
      On peut donc utiliser cette méthode pour rechercher par exemple une pomme Chanteclair dans un ensemble de pommes d’origines diverses lui ressemblant, en utilisant une Chanteclair comme témoin. <br>
      Par ailleurs on peut noter qu’un fruit peut se trouver, selon les espèces, dans les trois catégories.
    </p>
    <div class="title">
      <h4>1.2.4. Influence de la symétrie sur le signal d’une banane </h4>
      <hr class="sep-h4">
    </div>
    <p>
      Une banane donne trois signaux à angle droit : deux sur le plan horizontal et un sur le plan vertical. Ils s’inversent lorsque sa position dans le plan tourne de 180°; la distance D est égale à 2,0m lorsque le fruit n’est pas mûr et tombe à 0,3m lorsqu’il est très mûr au bout de 15 jours.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1670833216/sourcier/bio-9.webp" alt="biologie-9">
    </div>
    <p>
      Les baguettes ne répondent plus lorsque l’on enlève la peau. <br>
      Il y a interaction entre deux bananes issues du même lot, séparées de Dm=4m, uniquement lorsqu’elles sont dans une position symétrique.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1670833214/sourcier/bio-10.webp" alt="biologie-10">
    </div>
    <div class="title">
      <h3>1.3. Comportement des baguettes vis-à-vis des fruits </h3>
      <hr class="sep-h3">
    </div>
    <p>
      Il est possible de ranger les légumes dans les trois catégories définies pour les fruits. Quelques exemples sont rassemblés dans le tableau suivant :
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1670833215/sourcier/bio-11.webp" alt="biologie-11">
    </div>
    <p>
      Les similitudes de comportement avec les fruits appartenant à la même catégorie sont bien mises en évidence. Par exemple, l’amandine non coupée, comme le concombre, est inhibitrice vis-à-vis du signal d’une pièce de 1€ comme l’avocat, alors que coupée elle ne l’est plus.
    </p>
    <div class="title">
      <h3>1.4. Comportement des baguettes vis-à-vis des fleurs</h3>
      <hr class="sep-h3">
      <h4>1.4.1. Classification</h4>
      <hr class="sep-h4">
    </div>
    <p>
      Comme dans le cas des fruits et des légumes, il est possible de ranger les fleurs dans les trois catégories précédentes, à condition qu’elles ne soient pas coupées.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1670833215/sourcier/bio-12.webp" alt="biologie-12">
    </div>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1670833215/sourcier/bio-13.webp" alt="biologie-13">
    </div>
    <div class="title">
      <h4>1.4.2. Caractéristiques du signal</h4>
      <hr class="sep-h4">
    </div>
    <p>
      Le signal apparait lorsque la fleur est bien ouverte. La distance d’approche de la fleur diminue avec son vieillissement et s’annule lorsque la fleur est fanée. Les valeurs de D dépendent d’une fleur à l’autre : 2,0m pour l’agapanthe 1,0 m pour le géranium. Elles diminuent avec la vie de la fleur et avec la fermeture des pétales comme pour la gazania.
    </p>
    <p>
      La distance D diminue également lorsque la lumière baisse : pour une orchidée placée dans une pièce éclairée la distance d’approche est égale à 1,2m; cette distance passe à 0,5m en fin de journée pour s’annuler complétement la nuit. L’éclairage électrique modéré de la pièce fait réapparaitre un signal de 0,2m. Cette variation est probablement due à la montée de la sève dans la plante.  <br>
      Le frottement de ces fleurs sur une tige de verre permet de détecter les charges triboélectriques qu’elles développent et qui peuvent être évaluées par un électromètre.
    </p>
    <div class="title">
      <h4>1.4.3. Interaction entre les fleurs</h4>
      <hr class="sep-h4">
    </div>
    <p>
      Comme pour les fruits et les légumes de la catégories 1 et 2, la règle des témoins permet de vérifier si deux fleurs sont de la même espèce. <br>
      Quand on rapproche deux Pensées non coupées de la même famille qui isolées attirent les baguettes, on constate que leur orientation entre elles change à partir du moment où la distance les séparant est inférieure au double de la distance de détection de la fleur seule. Dans le cas où les familles des deux fleurs examinées sont différentes, les baguettes restent inertes entre les deux fleurs.
    </p>
    <div class="title">
      <h3>1.5. Conclusion</h3>
      <hr class="sep-h3">
    </div>
    <p>
      <ul>
        Il ressort de cette étude deux constatations importantes :
        <li>
          La première concerne l’aptitude que présentent les baguettes pour discerner les cibles qui relèvent du vivant. Contrairement à ce qui est observé dans le cas des solutions et des matériaux déjà examinés, on constate que la distance d’approche du végétal examiné varie avec le temps, par exemple lors de la montée de la sève dans les arbres ou lors du murissement d’un fruit pour s’annuler lorsqu’un arbre est mort ou qu’une fleur est coupée.
        </li>
        <li>
          La deuxième constatation concerne le fait que fruits, légumes et fleurs se rangent tous dans trois catégories, la première rassemble les cibles qui repoussent les baguettes, la deuxième celles qui les attirent, et la troisième celles qui les ignorent.
        </li>
      </ul>
      Les premières analyses de ces phénomènes semblent indiquer que cette classification est liée aux charges triboélectriques portées par les cibles. La catégorie 3 rassemble les cibles dépourvues de charges triboélectriques. Elles se comportent comme inhibitrice des signaux générés par d’autres cibles, végétales ou non, mais perdent cette aptitude à partir du moment où elles sont coupées ou pelées.
    </p>
    <p>
      Des échanges avec les biologistes sont envisagés pour connaitre le rôle des phénomènes électriques sur la vie d’un végétal et préciser les facteurs qui déterminent sa place dans l’une des trois catégories.
    </p>

    <div class="title">
      <h2>2. Biologie aniimale</h2>
      <hr class="sep-h2">
    </div>
    <p>
      Il m’a paru intéressant de poursuivre les expériences de radiesthésie dans le domaine de la biologie animale pour voir si l’on retrouvait la particularité des signaux liés au monde du vivant. Voir si les baguettes donnaient un signal lorsqu’elles se trouvaient devant un œuf était un objectif.
    </p>
    <div class="title">
      <h3>2.1. Réponses d’un œuf non fécondé</h3>
      <hr class="sep-h3">
    </div>
    <p>
      Rappelons d’abord que la couleur des œufs dépend de la couleur de la poule. Ils sont jaune-brun lorsqu’elle est brune, et blancs lorsqu’elle est blanche. Les mesures ont été réalisées sur des œufs beiges. <br>
      Si l’œuf est couché, le signal des baguettes dépend de la position des extrémités différentes de l’œuf par rapport à l’opérateur. <br>
      Si la partie pointue est à sa droite, on constate que les baguettes se dirigent vers l’œuf, et se croisent au-dessus.  Si cette extrémité se trouve à sa gauche, les orientations se font en sens inverse. <br>
      La distance de détection est de 1,50m à 21° lorsque l’on fait face à une extrémité et de 0,90m lorsque l’on se trouve sur l’autre axe à 90°. <br>
      Si l’œuf, debout, repose sur son extrémité la plus large, les baguettes s’orientent vers l’extérieur de l’œuf et s’ouvrent au-dessus. Les signaux sont inversés lorsque l’œuf repose sur sa petite extrémité. Ces résultats sont identiques quelle que soit la couleur de l’œuf.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1670833215/sourcier/bio-14.webp" alt="biologie-14">
    </div>
    <p>
      La distance de détection D diminue avec la température. Elle passe dans le premier cas de 1,5m à. 0,5m lorsque la température passe de 21° à 6°. <br>
      La distance de détection diminue également avec la fraicheur de l’œuf. On retrouve ici le signe caractéristique d’une structure issue du vivant. On voit qu’au bout de trois semaines, limite de la fraicheur, la valeur de D passe de 1,5m à 0,3m. On retrouve ici le signe caractéristique d’une structure issue du vivant.
    </p>
    <div class="title">
      <h3>2.2. Interaction entre deux œufs non fécondés</h3>
      <hr class="sep-h3">
    </div>
    <p>
      La règle des témoins est observée lorsque les extrémités de même nature se font face à face. La distance limite entre les œufs est plus grande lorsque les faces les plus grandes se font face : D’>D. <br>
      Il n’y a pas d’interaction entre les deux œufs lorsque les extrémités sont différentes. On constate également qu’un œuf en position verticale supprime les signaux d’un œuf couché. Par ailleurs on constate que les signaux disparaissent lorsque deux œufs sont en position verticale mais en sens inverse.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1670833215/sourcier/bio-15.webp" alt="biologie-15">
    </div>
    <p>
      Si les deux œufs viennent de deux poules différentes, mais de la même espèce, les interactions ont également lieu. En revanche elles disparaissent si les œufs mis en jeu sont de couleurs différentes, par exemple jaune brun et blanc, les deux poules étant alors de deux espèces différentes. Il est probable que ce résultat reste confirmé, même si les poules sont de même couleur. <br>
      On peut donc dans la pratique trier avec les baguettes des œufs issus de poules d’espèces différentes.
    </p>
    <div class="title">
      <h3>2.3. Réponses d’un œuf fécondé</h3>
      <hr class="sep-h3">
    </div>
    <p>
      On sait qu’un œuf non fécondé peut être détecté par mirage : il est transparent à la lumière, alors qu’un œuf fécondé perd sa transparence au bout de quelques jours. Il s’agit de savoir si les baguettes font la différence entre œuf fécondé et non fécondé.
    </p>
    <p>
      Les mesures réalisées sur un œuf fécondé, montrent l’inactivité des baguettes et donc l’impossibilité de détecter les axes de symétrie mis en évidence sur les œufs non fécondés. Elles peuvent donc jouer le même rôle qu’un appareil de détection mirage.
    </p>
    <div class="title">
      <h2>3. Conclusion</h2>
      <hr class="sep-h2">
    </div>
    <p>
      Les quelques expériences menées en biologie végétale et animale soulignent l’intérêt que peut présenter l’utilisation des baguettes pour suivre le murissement d’un fruit, la vie d’une fleur, expliquer l’allure particulière d’un tronc d’arbre, suivre la montée de la sève dans un arbre. Les réponses inattendues d’un œuf invitent à poursuivre les expériences en biologie animale pour connaitre l’influence du temps sur le comportement des espèces vivantes et sur leur sélection en fonction de leur origine.
    </p>
  </div>
</div>
