<div class="section">
  <div class="banner" id="conclusion">
    <h1 class="main-title">CONCLUSION GÉNÉRALE</h1>
  </div>
  <div class="experience">
    <p>
      Je pense avoir mis en évidence au cours de ces expériences quelques possibilités qu’offrent les baguettes de sourcier dans le domaine de la Chimie, de la Physique, et un peu de la Biologie.
    </p>
    <p>
      Les résultats obtenus débouchent sur de deux points importants : <br>
      De nombreux composés solides et liquides sont susceptibles d’émettre une radiation que l’on peut détecter avec les baguettes de sourcier sur une distance D qui entoure le composé. Cette distance D varie avec la nature, la composition et la surface de celui-ci ainsi qu’avec la température.
    </p>
    <p>
      Il est possible de détecter la liaison existante entre deux objets de même nature. Il s’agit de la règle des témoins qui peut être appliquée pour la recherche de l’eau, pour la sélection de métaux identiques et la recherche de fausses pièces de monnaie. Elle permet également de comparer les compositions, les volumes et les surfaces de deux objets de même nature, liquides ou solides.
    </p>
    <p>
      Au niveau de la biologie, les expériences ont montré que la distance D des divers objets examinés évolue avec le temps, et qu’il est ainsi possible de suivre le murissement d’un fruit et la fraicheur d’un œuf. La règle des témoins permet également de sélectionner des fruits des légumes et des fleurs en fonction de leur espèce.
    </p>
    <p>
      Il me semble intéressant de poursuivre cette démarche en l’orientant davantage vers des applications pratiques en Chimie, en Physique et en Biologie.
    </p>
  </div>
</div>
