<div class="section">
  <div class="banner" id="cristaux">
    <h1 class="main-title">LES CRISTAUX</h1>
  </div>
  <div class="experience">
    <p>
      Il est possible de détecter avec les baguettes en L les axes cristallographiques de cristaux conducteurs comme la pyrite FeS<sub>2</sub>, la chalcopyrite CuFeS<sub>2</sub>, la galène PbS, ou magnétiques comme la magnétite Fe<sub>3</sub>O<sub>4</sub> qui n’est pas conductrice. <br>
      Par contre, il n’y a pas de signal lorsque le cristal est dépourvu de propriétés conductrices et magnétiques comme la fluorine et le quartz.
    </p>
    <div class="title">
      <h2>1. CARACTERISATION DE LA PYRITE FeS<sub>2</sub> ET DE LA GALENE PbS</h2>
      <hr class="sep-h2">
    </div>
    <p>
      Dans le cas de la pyrite cubique, on détecte horizontalement deux axes A4 et deux axes A2. On détecte également un axe vertical A4. Ils sont orientés. <br>
      Si une face mixte d’une ferrite est posée sur le cube de pyrite, les signaux disparaissent. Ils subsistent par contre si la ferrite est posée sur une face pure N ou S.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950400/sourcier/cristaux-1.webp" alt="crystaux-1">
    </div>
    <p>
      Comme pour les autres conducteurs examinés, la valeur de D pour la pyrite cubique dépend sensiblement de la température, quel que soit l’axe de symétrie, elle passe de 2,0 à 2,5m lorsque la température passe de 14 à 20°C.
    </p>
    <p>
      Dans le cas de la pyrite dodécaédrique, on détecte sur le plan horizontal cinq axes en étoile à orientation alternée et un axe vertical.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950400/sourcier/cristaux-2.webp" alt="crystaux-2">
    </div>
    <p>
      J’ai constaté un signal lorsque les pyrites dodécaèdre et cubique sont superposées. Ceci en principe confirme qu’elles ont la même composition, même si les systèmes cristallins sont différents.
    </p>
    <p>
      La galène cubique donne les mêmes résultats que la pyrite cubique au niveau de ses axes
    </p>

    <div class="title">
      <h2>2. CARACTERISATION DE LA MAGNETITE Fe<sub>3</sub>O<sub>4</sub></h2>
      <hr class="sep-h2">
    </div>
    <p>
      Ses propriétés magnétiques se traduisent par son aptitude à se diriger vers le nord lorsqu’elle est suspendue verticalement par un fil selon son axe A4. Elle est capable de fixer faiblement une aiguille. Par contre elle est fortement attirée par la ferrite.
    </p>
    <p>
      Lorsque le cristal est en position verticale, on détecte sur le plan horizontal deux axes A4, deux axes A2, et un axe vertical A4. <br>
      Si le cristal est mis sur une face on détecte quatre axes A3, trois sur le plan horizontal et un sur l’axe vertical. Ils sont tous orientés.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950411/sourcier/cristaux-3.webp" alt="crystaux-3">
    </div>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950411/sourcier/cristaux-4.webp" alt="crystaux-4">
    </div>
    <p>
      Comme la ferrite, la magnétite tenue dans la main par l’opérateur, rend les baguettes inactives quelle que soit la recherche entreprise. <br>
      Si une de ses faces est posée sur un cristal conducteur ou sur une pièce métallique, on constate l’absence de signal des baguettes.
    </p>
    <p>
      L’eau et une pile ont les mêmes effets sur les cristaux conducteurs et sur la magnétite que sur les métaux: on observe l’absence de signal des baguettes quand ils sont placés devant le cristal.
    </p>
  </div>
</div>

