<div class="section">
  <div class="banner" id="eau">
    <h1 class="main-title">L'EAU</h1>
  </div>
  <div class="experience">
    <div class="title">
      <h2>1. CARACTERISATION DES LIQUIDES</h2>
      <hr class="sep-h2">
      <h3>1.1. Détection d’un volume d’eau pure</h3>
      <hr class="sep-h3">
    </div>
    <p>
      Lorsque l’on se déplace frontalement vers un verre cylindrique rempli d’un volume d’eau pure déposé sur le sol, les baguettes s’écartent vers le verre à partir d’une distance limite L<sub>m</sub> qui varie avec V et avec la température. Si l’on se déplace tangentiellement au verre, on constate à partir de cette distance L<sub>m</sub> que les baguettes se dirigent parallèlement vers le verre.
    </p>
    <p>
      A 22,0° on a approximativement la relation L<sub>m</sub>=0,026V, L<sub>m</sub> étant en mètre et V en millilitre. Il en résulte qu’il est possible d’évaluer un volume V en utilisant après étalonnage les baguettes de sourcier.
    </p>
    <div class="image">
      <img src="https://res.cloudinary.com/bessiere/image/upload/v1666950329/sourcier/eau-1.webp" alt="eau-1">
    </div>
    <p>
      La valeur de L<sub>m</sub> est directement liée à la forme du verre: lorsqu’il est cylindrique, le volume d’eau est proportionnel à la hauteur de liquide dans le verre, ce qui n’est pas le cas quand le verre n’est pas cylindrique.
    </p>
    <div class="title">
      <h3>1.2. Influence du contenant</h3>
      <hr class="sep-h3">
    </div>
    <p>
      <ul>
        Les réponses varient avec la symétrie du contenant:
        <li>
          Lorsque l’eau est dans un verre cylindrique la détection est radiale quelle que soit la position.
        </li>
        <li>
          Lorsque l’eau se trouve dans un récipient cubique ou parallélipédique la détection n’est possible que dans les deux directions perpendiculaires aux faces verticales.
        </li>
        <li>
          Lorsque le contenant ne présente aucune symétrie, comme une bouteille de plastique déformée, la réponse est nulle.
        </li>
      </ul>
    </p>
    <div class="image">
      <img src="https://res.cloudinary.com/bessiere/image/upload/v1666950329/sourcier/eau-2.webp" alt="eau-2">
    </div>
    <div class="title">
      <h3>1.3. Influence de la position de l’opérateur</h3>
      <hr class="sep-h3">
    </div>
    <p>
      Il est important de savoir dans les expériences précédentes si la position du verre par rapport à l'opérateur a une importance ou non sur les valeurs de L<sub>m</sub>. Cela revient à identifier la partie du corps de l'opérateur qui joue le rôle de récepteur, sachant que le verre émet un rayonnement sur la distance L<sub>m</sub>.
    </p>
    <p>
      L’opérateur pose un verre de 50ml d’eau au point V sur une table située à la hauteur de ses baguettes, soit à 1,0m au-dessus du sol. Au niveau de la table il mesure la distance limite de détection du verre égale à L<sub>m</sub>=0,7m. Sur le graphique, ses pieds sur le sol sont au point A’ et ses mains au point A. Si le verre sur la table se trouve à moins de 0,7m de A, il sera également détecté. <br>
      Si maintenant le verre est posé sur le sol à la verticale en V’ ou au voisinage immédiat de A’, on constate que les baguettes ne répondent plus car la distance AV’ est nettement supérieure à L<sub>m</sub>=0,7m. On en conclut que le verre d’eau sera détecté sur toutes positions situées à une distance inférieure ou égale à 0,7m des mains placées en A. <br>
      Si l’opérateur se baisse en A, il sera alors possible de détecter le verre au sol à partir du moment où la distance entre les mains de l’opérateur et le verre est inférieure ou égale à 0,7m.
    </p>
    <div class="image">
      <img src="https://res.cloudinary.com/bessiere/image/upload/v1666950329/sourcier/eau-3.webp" alt="eau-3">
    </div>
    <p>
      On refait la même expérience avec un verre W contenant maintenant 70ml auquel correspond la distance L<sub>m</sub>=1,5m. Il est détecté sur la table en A. En revanche il ne l’est plus lorsqu’il se trouve en W’ sur le sol à la verticale, la distance AW’ étant supérieure à 1,5m. <br>
      Pour pouvoir le détecter, les mains restant au niveau de la table, il faudra se rapprocher du verre de la distance A’B=0,3m au niveau du sol, le point B correspondant à l’intersection avec le sol du cercle de centre W et de rayon 1,5m. <br>
      La correction A’B est d’autant plus petite que la distance L<sub>m</sub> est grande. Si par exemple le verre W est à 4,0m la distance A’B=0,12m est alors pratiquement négligeable.
    </p>
    <p>
      En conclusion, il est impossible de caractériser la présence de verres V’ posés au sol dont la distance L<sub>m</sub> est inférieure à 1,0m. Il est cependant possible de le faire si on les place sur la table au niveau des mains de l’opérateur.
    </p>
    <p>
      On constate par ailleurs que les distances égales observées entre verres sur la table le sont également au sol à condition que les valeurs de L<sub>m</sub> soient supérieures à 2m.
    </p>
    <div class="image">
      <img src="https://res.cloudinary.com/bessiere/image/upload/v1666950330/sourcier/eau-4.webp" alt="eau-4">
    </div>
    <p>
      Si l’on reprend les mesures de L<sub>m</sub> en fonction du volume d’eau décrites en section 1.1. la relation L<sub>m</sub>(m)=0,026V(ml) n’est rigoureusement valable que pour des valeurs de L<sub>m</sub> au sol supérieures à 2m.
    </p>
    <div class="title">
      <h3>1.4. Influence de la température</h3>
      <hr class="sep-h3">
    </div>
    <p>
      On opère sur un volume de 100ml entre 8 et 30°. L<sub>m</sub> croit linéairement avec la température. Pour les plus faibles d’entre elles, il est nécessaire d’utiliser des volumes plus importants pour accroitre les valeurs de L<sub>m</sub> et avoir une meilleure précision. <br>
      On peut par exemple utiliser cet étalonnage dans son jardin pour évaluer les températures à tous moments.
    </p>
    <div class="image">
      <img src="https://res.cloudinary.com/bessiere/image/upload/v1666950329/sourcier/eau-5.webp" alt="eau-5">
    </div>
    <div class="title">
      <h3>1.5. Interaction entre deux verres d’eau</h3>
      <hr class="sep-h3">
    </div>
    <p>
      Elle apparait lorsque les baguettes entre les deux verres s’orientent au niveau de chaque verre en sens inverse de ce qui est observé avec un seul verre.
    </p>
    <p>
      Soit deux verres identiques que l’on remplit d’eau à 21,7°. Le signal dépend de la distance entre les deux verres et de la quantité d’eau : si l’on introduit le même volume V d’eau dans les deux verres, la distance maximale de détection L augmente avec V.
    </p>
    <div class="image">
      <img src="https://res.cloudinary.com/bessiere/image/upload/v1666950329/sourcier/eau-6.webp" alt="eau-6">
    </div>
    <div class="image">
      <img src="https://res.cloudinary.com/bessiere/image/upload/v1666950330/sourcier/eau-7.webp" alt="eau-7">
    </div>
    <p>
      On constate que L/L<sub>m</sub>=2 quel que soit le volume V. Dans tous les cas, le changement d’orientation des baguettes au point Z se situe au milieu de la distance séparant les deux verres, soit Z=0. <br>
      Si les volumes différent d’un verre à l’autre, par exemple V1=100ml dans l’un et V2=200ml dans l’autre la distance L augmente et Z diffère de zéro. Le changement d’orientation des baguettes se déplace vers le verre le moins rempli. La valeur de Z répond à la relation: Z=0,5L(1-V1/V2)=1/4L.<br>
      Cette relation est indépendante de la température.
    </p>
    <div class="image">
      <img src="https://res.cloudinary.com/bessiere/image/upload/v1666950330/sourcier/eau-8.webp" alt="eau-8">
    </div>
    <p>
      Il est important de souligner que ces interactions entre liquides ne sont possibles que s’ils sont à des températures très voisines. On remarque qu’elles cessent lorsque la différence de température est supérieure à 1,5°. <br>
      On dispose ainsi d’un moyen très simple pour mettre en évidence un très faible effet de température sur des liquides de même nature.
    </p>
    <div class="title">
      <h3>1.6. Influence des surfaces</h3>
      <hr class="sep-h3">
    </div>
    <p>
      Il importe de savoir si le signal des baguettes est fonction de la surface ou de la masse des cibles mises en présence. <br>
      Pour cela on compare les valeurs de L et de Z selon les positions que prennent deux bouteilles d’eau identiques contenant chacune 200ml d’eau. <br>
      Les valeurs de L passent successivement de 4,0 à 2,0 puis 2,5m quand elles sont debout, quand les fonds se font face, et quand un fond fait face à une bouteille debout. La valeur de Z est égale à zéro dans les deux premiers cas et diffère de zéro quand les surfaces opposées ne sont plus les mêmes. Pour un même poids d‘eau, les surfaces mises en jeu sont donc déterminantes. <br>
      Il faut signaler que la détermination du rapport des surfaces à partir de la mesure de Z est souvent plus difficile que celle réalisée à partir des valeurs de L<sub>m</sub> de chaque surface isolée, en particulier lorsque leur rapport est élevé.
    </p>
    <div class="image">
      <img src="https://res.cloudinary.com/bessiere/image/upload/v1666950330/sourcier/eau-9.webp" alt="eau-9">
    </div>
    <div class="title">
      <h2>2. CARACTERISATION DES SOLUTIONS</h2>
      <hr class="sep-h2">
    </div>
    <p>
      L’introduction d’un soluté dans un liquide modifie souvent la réponse des baguettes. Les cas des solutions aqueuses puis des liquides alimentaires sont envisagés.
    </p>
    <div class="title">
      <h3>2.1. Solution de chlorure de sodium</h3>
      <hr class="sep-h3">
    </div>
    <p>
      L’ajout progressif de NaCl dans un volume V=100ml entraine une diminution sensible de la valeur de L<sub>m</sub> par suite de l’accroissement de conductivité de la solution. Il est possible avec cette courbe d’étalonnage d’évaluer une concentration inconnue. <br>
      On remarque que la méthode est cependant peu adaptée pour les solutions concentrées qui devront être diluées pour être caractérisées.
    </p>
    <div class="image">
      <img src="https://res.cloudinary.com/bessiere/image/upload/v1666950344/sourcier/eau-10.webp" alt="eau-10">
    </div>
    <p>
      Les baguettes se comportent ici en première approximation comme un conductimètre. <br>
      Nous verrons des applications au chapitre 3. consacré au suivi des réactions chimiques.
    </p>
    <div class="title">
      <h3>2.2. Caractérisation de la dureté d’une eau</h3>
      <hr class="sep-h3">
    </div>
    <p>
      Une eau dure est une eau riche en ions calcium, donc conductrice. Sa teneur est caractérisée par son degré hydrotimétrique F. Il est possible de la faire varier en la diluant avec de l’eau distillée et de comparer sa distance de détection L<sub>m</sub> avec celle de l’eau distillée.
    </p>
    <div class="image">
      <img src="https://res.cloudinary.com/bessiere/image/upload/v1666950344/sourcier/eau-11.webp" alt="eau-11">
    </div>
    <div class="title">
      <h3>2.3. Liquides alimentaires </h3>
      <hr class="sep-h3">
      <h4>2.3.1. Comportement de l’eau sucrée</h4>
      <hr class="sep-h4">
    </div>
    <p>
      On prépare une solution en mettant un morceau de sucre dans 500ml d’eau non distillée. On ajoute de 0,5 à 3ml de cette solution dans un volume V=100ml. Ces ajouts entrainent une diminution sensible de la valeur de L<sub>m</sub> qui passe de 3,0 à 0,6m. <br>
      Les solutions sucrées n’étant pas conductrices, cette variation pourrait être associée à celle du pouvoir rotatoire qui, lui, varie en sens inverse.  Les baguettes se comporteraient alors comme un polarimètre. <br>
      Il n’est pas exclu que les variations de L<sub>m</sub> observées dépendent de la nature du sucre utilisé.
    </p>
    <div class="image">
      <img src="https://res.cloudinary.com/bessiere/image/upload/v1666950343/sourcier/eau-12.webp" alt="eau-12">
    </div>
    <div class="title">
      <h4>2.3.2. Eau + café, Eau + Thé</h4>
      <hr class="sep-h4">
    </div>
    <p>
      Les baguettes ne donnent aucun signal devant une tasse de thé ou de café, froide ou chaude. On constate que les solutions sont troubles. On retrouvera ce comportement dans le cas de l’eau légèrement savonneuse. <br>
      Comme nous le verrons plus loin l’eau peut inhiber le signal d’une pièce de monnaie. En revanche je constate que la tasse de thé ou de café ne l’inhibe pas.
    </p>
    <div class="title">
      <h4>2.3.3. Essais divers</h4>
      <hr class="sep-h4">
    </div>
    <p>
      Les essais ont été réalisés à 21,7°sur un volume V=100ml pour les différents liquides.
    </p>
    <div class="image">
      <img src="https://res.cloudinary.com/bessiere/image/upload/v1666950343/sourcier/eau-13.webp" alt="eau-13">
    </div>
    <p>
      On note une variation sensible pour les eaux minérales, L<sub>m</sub> diminuant avec leur charge en sels. <br>
      On constate que le cidre et l’huile donnent des valeurs L<sub>m</sub> très élevées, proches de celle de l’eau distillée alors que le lait, le vinaigre et la quetsche s’en éloignent fortement. <br>
      Il n’y a pas d’interaction entre l’eau pure et ces divers liquides ou entre ces liquides. Ces résultats incitent à mener des recherches pour tenter d’expliquer de telles différences.
    </p>
    <div class="title">
      <h2>3. SUIVI DE REACTIONS CHIMIQUES</h2>
      <hr class="sep-h2">
    </div>
    <p>
      L’étude précédente menée sur les solutions de KCl montre que les baguettes sont capables de détecter la présence des ions en solution, jouant ainsi le rôle de conductimètre. <br>
      Ce paragraphe a pour objet de présenter quelques applications basées sur la détection des ions montrant ainsi l’efficacité des baguettes pour déterminer la force des acides et des bases dans l’eau, pour suivre des titrages et donner quelques informations sur les solvants non aqueux.
    </p>
    <div class="title">
      <h3>3.1. Force des acides et des bases dans l’eau</h3>
      <hr class="sep-h3">
    </div>
    <p>
      On détermine la limite de détection L<sub>m</sub> au sol des solutions d’acide et de base, de concentration croissante, dans un volume constant. <br>
      Les courbes L<sub>m</sub>=f(c) relatives à l’acide chlorhydrique HCl, à l’acide acétique AcOH et au phénol PhOH ont la même allure que celle de NaCl : elles montrent que la valeur de L<sub>m</sub> pour une concentration donnée est d’autant plus petite que l’acide est plus fort : HCl est totalement dissocié en ions alors que l’acide acétique ne l’est que partiellement et génère moins d’ions, le phénol en libérant encore moins.
    </p>
    <div class="image">
      <img src="https://res.cloudinary.com/bessiere/image/upload/v1666950343/sourcier/eau-14.webp" alt="eau-14">
    </div>
    <p>
      On observe les mêmes variations au niveau des bases : la pyridine qui est une base très faible génère beaucoup moins d’ions que l’ammoniac et que la soude, base forte, qui est totalement dissociée.
    </p>
    <div class="image">
      <img src="https://res.cloudinary.com/bessiere/image/upload/v1666950343/sourcier/eau-15.webp" alt="eau-15">
    </div>
    <div class="title">
      <h3>3.2. Titrage acide-base</h3>
      <hr class="sep-h3">
    </div>
    <p>
      L’utilisation des baguettes permet de suivre la variation de la teneur en ions des solutions lors de certains titrages. <br>
      Lors du titrage de HCl par la soude, selon la réaction <br>
      <span class="equation">HCl + NaOH = NaCl + H<sub>2</sub>O,</span> <br>
      l’acide à la concentration 10<sup>-3</sup>M est introduit dans un volume V=100ml. On choisit une solution concentrée en NaOH de telle manière que son ajout ne modifie pratiquement pas le volume de la solution. <br>
      <ul>
        Les valeurs de conductivité des cations et anions mis en jeu sont les suivantes:
        <li>&#955<sub>H<sup>+</sup></sub> = 34,9</li>
        <li>&#955<sub>Na<sup>+</sup></sub> = 5,01</li>
        <li>&#955<sub>HO<sup>-</sup></sub> = 19,86</li>
        <li>&#955<sub>Cl<sup>-</sup></sub> = 7,63</li>
      </ul>
    </p>
    <p>
      Au départ la conductivité de la solution est égale à:
      <span class="equation">&#923= 10<sup>-3</sup>(&#955<sub>H<sup>+</sup></sub> + &#955<sub>Cl<sup>-</sup></sub>) = 0,042 S m<sup>-1</sup>.</span>
    </p>
    <p>
      Lors de l’ajout de soude, on remplace progressivement HCl par NaCl: la conductivité diminue car &#955<sub>Na<sup>+</sup></sub> < &#955<sub>H<sup>+</sup></sub>  et L<sub>m</sub> augmente.
    </p>
    <p>
      A la neutralisation, NaCl=10<sup>-3</sup>M et sa conductivité est égale à:
      <span class="equation">&#923= 10<sup>-3</sup>(&#955<sub>Na<sup>+</sup></sub> + &#955<sub>Cl<sup>-</sup></sub>) = 0,012 S m<sup>-1</sup>.</span>
    </p>
    <p>
      La conductivité de la solution augmente ensuite avec l’ajout de soude et L<sub>m</sub> diminue La courbe expérimentale suit ces prévisions.
    </p>
    <div class="image">
      <img src="https://res.cloudinary.com/bessiere/image/upload/v1666950343/sourcier/eau-16.webp" alt="eau-16">
    </div>
    <div class="title">
      <h3>3.3. Caractérisation de solvants autres que l’eau</h3>
      <hr class="sep-h3">
    </div>
    <p>
      Au niveau des applications, il serait intéressant d’examiner le comportement de solvants présentant par exemple des analogies au niveau des conductivités, des constantes diélectriques, des viscosités, et de suivre leur évolution au cours de réactions chimiques présentant un intérêt industriel comme la synthèse minérale et l’extraction liquide / liquide. <br>
      Les quelques données groupées dans le tableau montrent que le méthanol et l’éthanol ont des valeurs de L<sub>m</sub> sensiblement différentes, et que celle du dichloroéthane qui a une faible constante diélectrique, est la plus petite.
    </p>
    <div class="image">
      <img src="https://res.cloudinary.com/bessiere/image/upload/v1666950344/sourcier/eau-17.webp" alt="eau-17">
    </div>
    <div class="title">
      <h2>4. CONCLUSION</h2>
      <hr class="sep-h2">
    </div>
    <p>
      Il ressort de ces différentes expériences menées sur les liquides que l’utilisation des baguettes permet de caractériser des milieux les plus divers, en évaluant les volumes engagés, les concentrations, les températures, et de suivre éventuellement leur évolution au cours d’une réaction chimique. <br>
      Il apparait que la présence d’ions est souvent le facteur déterminant qui agit directement sur les baguettes. Le fait qu’elles se comportent pratiquement comme un conductimètre offre de multiples possibilités dans les domaines les plus variés. <br>
      Le fait qu’elles se comportent également comme un polarimètre incite à étudier des réactions engageant des variations de pouvoir rotatoire.
    </p>
  </div>
</div>

