<div class="section">
  <div class="banner" id="electricite">
    <h1 class="main-title">L'ÉLECTRICITÉ</h1>
  </div>
  <div class="experience">
    <div class="title">
      <h2>1. COURANT CONTINU</h2>
      <hr class="sep-h2">
      <h3>1.1. Identification des pôles et mesure de la charge d’une pile</h3>
      <hr class="sep-h3">
    </div>
    <p>
      Que l’approche soit frontale ou latérale, les baguettes s’écartent du pôle + et convergent vers le pôle – de la pile, quelle que soit sa forme (pile bâton, pile plate). Elles se croisent au-dessus du pole + et s’écartent au-dessus du pole - .
    </p>
    <p>
      La distance de détection de la pile augmente avec sa tension : lorsque la pile plate est debout et que l’on se place sur la ligne des deux pôles, la distance D est de 4,2m quand la pile est neuve, sa tension étant de 4,5V. Cette distance diminue avec l’usure puisqu’elle passe à 2,2m quand la tension est de 3,8V. Les signaux des baguettes sont inversés lorsque les pôles de la pile le sont. <br>
      Les baguettes peuvent donc être utilisées comme voltmètre pour évaluer une tension de pile une fois la distance D étalonnée.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950355/sourcier/elec-1.webp" alt="electricite-1">
    </div>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950355/sourcier/elec-2.webp" alt="electricite-2">
    </div>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950355/sourcier/elec-3.webp" alt="electricite-3">
    </div>
    <div class="title">
      <h3>1.2. Interaction entre piles</h3>
      <hr class="sep-h3">
    </div>
    <p>
      Si l’on place deux piles sur une même ligne, les pôles + et – se succédant, les baguettes se dirigent dans la même direction (A). Cependant les signaux entre les deux piles disparaissent si deux pôles de même nature se succèdent (B).
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950356/sourcier/elec-4.webp" alt="electricite-4">
    </div>
    <div class="title">
      <h3>1.3. Interaction pile/eau, pile/conducteur et pile/ferrite</h3>
      <hr class="sep-h3">
    </div>
    <p>
      Lorsque l’on place sur l’axe d’une pile bâton un verre d’eau, on constate que les baguettes sont inactives lorsque l’eau est placée devant un pôle de la pile. Elles suivent le signal de la pile au niveau de l’autre pôle.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950355/sourcier/elec-5.webp" alt="electricite-5">
    </div>
    <p>
      Si l’on chevauche l’axe de la pile dans le sens + - on constate le croisement des baguettes d3 devant la pile seule. Ce croisement augmente et passe à d2,5 lorsque l’eau est devant le pôle de la pile, et diminue à d3,5 lorsque l’eau se trouve derrière.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950356/sourcier/elec-6.webp" alt="electricite-6">
    </div>
    <p>
      On observe les mêmes phénomènes quand on remplace l’eau par un conducteur tel une pièce de 0,50€ ou une ferrite qui est magnétique mais non conductrice.
    </p>
    <div class="title">
      <h3>1.4. Intensité et densité de courant</h3>
      <hr class="sep-h3">
    </div>
    <p>
      Lorsque l’on fait face à une ligne de courant continu, les baguettes suivent le sens du courant dans le fil qui va du pôle + au pôle -. <br>
      Lorsque l’on chevauche la ligne dans le sens du courant les baguettes s’écartent. Elles se croisent quand on opère en sens inverse. <br>
      Il n’y a pas de réponse des baguettes lorsque les deux fils sont en sens inverse, le signal de l’un annulant celui de l’autre car de signe opposé.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950355/sourcier/elec-7.webp" alt="electricite-7">
    </div>
    <p>
      L’écartement ou le croisement des baguettes en un point du circuit augmente avec l’intensité.
    </p>
    <p>
      Lorsque le fil est vertical et parcouru par un courant descendant, les baguettes s’écartent du fil quand on tourne tangentiellement autour de lui et se croisent quand on l’approche de face.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950355/sourcier/elec-8.webp" alt="electricite-8">
    </div>
    <p>
      On constate que le croisement des baguettes dépend de la section du fil où passe le courant. Elles sont donc sensibles à la densité de courant qui est définie par la relation: <br>
      <span class="equation">Intensité = densité de courant × section du conducteur</span>  <br>
      où la densité de courant mesure la vitesse de déplacement des électrons dans le conducteur.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950366/sourcier/elec-9.webp" alt="electricite-9">
    </div>
    <p>
      Dans le circuit présenté ci-dessus, l’intensité mesurée par un ampèremètre en 1, 2 ou 3 est la même, alors que la section des fils constituant le circuit ne l’est pas. <br>
      On constate que le croisement des baguettes diminue en passant de 1 à 3 à mesure que la section du fil augmente. La réponse des baguettes en un point donné dépend donc de la densité de courant.
    </p>
    <p>
      On fait passer un courant de 4A dans un fil de 0,5mm de diamètre relié à un fil plus épais de 1,0m dont le diamètre est de 2mm. Le rapport des surfaces est de 16. On note la graduation d3 pour le fil le plus fin et d4 pour l’autre.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950366/sourcier/elec-10.webp" alt="electricite-10">
    </div>
    <p>
      La courbe caractérisant la variation du signal d des baguettes en fonction de l’intensité n’est donc pas la même aux points 1, 2 et 3. Pour une intensité donnée la valeur de d augmente avec la section du fil. On voit que les variations de d sont plus importantes pour des intensités inférieures à 1 ampère. <br>
      On constate une certaine similitude de ces courbes avec celle qui traduit les variations du signal des baguettes avec le débit d’une veine d’eau.
    </p>
    <p>
      Il est remarquable de constater que le corps humain peut suivre les variations de densité de courant dans le circuit examiné alors qu’aucun appareil électrique ne peut le faire sans connaitre la section du fil.
    </p>
    <div class="title">
      <h3>1.5. Distance</h3>
      <hr class="sep-h3">
    </div>
    <p>
      La réponse des baguettes dépend également, en un point donné du circuit, de la distance p entre le fil et l’opérateur: les baguettes se croisent moins si l’on monte sur un tabouret, alors que le signal reste le même, que l’on soit à genoux ou debout. C‘est donc la position des pieds par rapport à la ligne qui est à considérer.
    </p>
    <div class="title">
      <h3>1.6. Les caténaires</h3>
      <hr class="sep-h3">
    </div>
    <p>
      Certains caténaires sont alimentés en courant continu de plus de 1000 ampères. Le train se déplace dans le sens du courant qui peut être détecté sur une passerelle ou sous un viaduc. On constate que les baguettes s’écartent ou se croisent au maximum. <br>
      Il est donc possible de savoir avec les baguettes, sur une passerelle où passent plusieurs lignes dans quel sens va passer un train sur une voie donnée avant qu’il n’arrive.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950366/sourcier/elec-11.webp" alt="electricite-11">
    </div>
    <p>
      En conclusion, il est important de souligner les analogies de comportement des  baguettes vis-à-vis d’une veine d’eau et d’un courant continu. Les mouvements des molécules d’eau et des électrons conduisent aux mêmes conclusions tant au niveau de la direction des fluides, qu’au niveau des débits.
    </p>
    <div class="title">
      <h2>2. LIGNES TELEPHONIQUES</h2>
      <hr class="sep-h2">
    </div>
    <p>
      Les lignes téléphoniques souterraines répondent comme une veine d’eau ou une ligne de courant continu excepté qu’elles ne donnent pas de signal lorsqu’on les chevauche.
    </p>
    <p>
      Sur la ligne de distribution souterraine horizontale sont branchées de part et d’autre les lignes allant vers les habitations.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950367/sourcier/elec-12.webp" alt="electricite-12">
    </div>
    <p>
      Au niveau des lignes aériennes, seules les lignes téléphoniques sont détectables. A partir de la ligne d’alimentation qui se trouve dans la rue, portée par des poteaux porteurs d’une étiquette bleue, partent les lignes allant vers les maisons que les baguettes révèlent au sol. <br>
      Quand on se trouve en face d’un téléphone, les baguettes s’orientent vers l’appareil. Lorsqu’il y a une sonnerie, les baguettes se dirigent en sens inverse.
    </p>
    <div class="title">
      <h2>3. COURANT ALTERNATIF</h2>
      <hr class="sep-h2">
      <h3>3.1. Réponse d’une prise de courant</h3>
      <hr class="sep-h3">
    </div>
    <p>
      Lorsqu’on longe le mur d’une pièce où se trouve une prise, les baguettes s’orientent au niveau de cette prise à angle droit du mur vers l’intérieur de la pièce. Elles s’ouvrent dans le sens perpendiculaire dos au mur. <br>
      De l’autre côté du mur, où il n’y a rien d’apparent, elles s’orientent et s’ouvrent au même endroit dans le même sens. On peut suivre la ligne arrivant à cette prise, les baguettes s’orientant vers la prise. <br>
      Il est ainsi possible de détecter la présence de prises cachées derrière des meubles.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950366/sourcier/elec-13.webp" alt="electricite-13">
    </div>
    <div class="title">
      <h3>3.2. Alimentation de prises de courant</h3>
      <hr class="sep-h3">
    </div>
    <p>
      Les baguettes indiquent que la ligne alimentant la prise A ne peut venir que de B et non de C ou D. Entre deux prises, les baguettes répondent seulement si elles sont sur la même ligne.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950366/sourcier/elec-14.webp" alt="electricite-14">
    </div>
    <div class="title">
      <h3>3.3. Contrôle de branchement</h3>
      <hr class="sep-h3">
    </div>
    <p>
      Il est possible de préciser si une lampe éteinte est branchée ou non sur une prise cachée: lorsque la lampe est branchée et allumée on n’observe pas de signal. <br>
      Quand elle reste branchée mais éteinte, les baguettes donnent un signal et se dirigent vers l’interrupteur. Après l’interrupteur, le signal disparait. <br>
      Lorsque la lampe est débranchée il n’y a plus de signal.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950366/sourcier/elec-15.webp" alt="electricite-15">
    </div>
    <div class="title">
      <h2>4. ELECTROSTATIQUE</h2>
      <hr class="sep-h2">
      <h3>4.1. Effet d’influence </h3>
      <hr class="sep-h3">
    </div>
    <p>
      Lorsque l’on approche une tige conductrice du pôle + de la pile, il apparait des charges opposées sur les extrémités de la tige que l’on peut identifier avec les baguettes. <br>
      L’intervalle de détection d des signaux augmente avec la tension de la pile.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950367/sourcier/elec-16.webp" alt="electricite-16">
    </div>
    <div class="title">
      <h3>4.2. Triboélectricité</h3>
      <hr class="sep-h3">
    </div>
    <p>
      Le phénomène de triboélectricité est observé lorsque l’on frotte deux objets l’un sur l’autre: il se développe en surface des charges électrostatiques opposées. <br>
      Les baguettes permettent de préciser la nature des charges de chaque objet et leur intensité. La triboélectricité apparait aussi bien avec les isolants qu’avec les conducteurs.
    </p>
    <div class="title">
      <h4>4.2.1. Réaction entre deux isolants</h4>
      <hr class="sep-h4">
    </div>
    <p>
      Les baguettes ne donnent pas de signal devant les tiges de verre ou d’ébonite, ou devant de la laine ou du papier. <br>
      En revanche quand on frotte une tige de verre sur de la laine, la tige de verre prend des charges positives, les baguettes sont dirigées vers l’extérieur de la tige et s’ouvrent au-dessus. La laine prend des charges négatives, les signaux sont inversés: les baguettes se dirigent vers la laine alors qu’elles se croisent au-dessus. <br>
      On a aussi constaté un phénomène inattendu: si après frottement on touche avec la main la laine, on constate que les baguettes se croisent au-dessus de la tige de verre au lieu de s’ouvrir, la laine perdant son signal. SI l’on touche la tige de verre, on observe le phénomène inverse. <br>
      Si l’on frotte une tige d’ébonite avec de la laine, les signaux sont inversés: la tige d’ébonite est négative : les baguettes se croisent au-dessus, et s’ouvrent au-dessus de la laine. <br>
      Il y a conformité avec la série triboélectrique proposée.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950378/sourcier/elec-17.webp" alt="electricite-17">
    </div>
    <p>
      Il existe aussi des objets après frottement qui ne donnent pas de signal en face des baguettes de sourcier car ils ne libèrent pas de charge électrique : c’est le cas de certains plastiques, de tissus et de fruits comme on le verra en biologie végétale. Ils se comportent comme des inhibiteurs de signaux radiesthésistes lorsqu’ils sont placés devant un conducteur. <br>
      En revanche, une règle plastique légèrement mouillée perd cette propriété. Elle attire des petits papiers après frottement.
    </p>
    <div class="title">
      <h4>4.2.2. Réaction entre un isolant et un conducteur</h4>
      <hr class="sep-h4">
    </div>
    <p>
      Avant frottement, les baguettes s’orientent vers une pièce de cuivre lors de l’approche tangentielle alors qu’elles restent inertes devant la tige de verre. <br>
      Après frottement, on constate l’inverse : les baguettes sont inertes au voisinage de la pièce de cuivre, et elles se croisent au-dessus de la tige de verre. <br>
      Si l’on touche la pièce, on constate que son signal revient et que les baguettes s’ouvrent au-dessus de la tige de verre. SI l’on fait l’inverse, les signaux de la pièce et de la tige de verre disparaissent. On retrouve le phénomène inattendu constaté avec les isolants. <br>
      On peut conclure que lors de ces expériences de frottement engageant une tige de verre et un isolant ou un conducteur, les baguettes mettent bien en évidence les transferts de charges électrostatiques, mais qu’il est difficile d’identifier leur nature en se basant sur la liste triboélectrique. <br>
      Il ressort de ces essais que l’utilisation des baguettes peut apporter des informations nouvelles sur des identités de comportement.
    </p>
    <div class="title">
      <h4>4.2.3. Composés dépourvus de propriétés triboélectriques</h4>
      <hr class="sep-h4">
    </div>
    <p>
      Il existe un certain nombre de composés, qui frottés, ne libèrent pas de charges triboélectriques. C’est le cas de certains plastiques mais aussi de fruits comme nous le verrons en biologie végétale.
    </p>
    <p>
      Lorsque l’on frotte par exemple une tige de verre avec un papier plastique, les baguettes restent inactives lorsqu’on les approche de la tige de verre et du plastique.
    </p>
    <p>
      On constate également que ces composés placés devant une cible comme de l’eau ou une pièce de monnaie inhibent leurs signaux : si par exemple on verse de l’eau dans un verre en plastique non porteur de charges triboélectriques, les baguettes restent inertes lorsque l’on s’approche frontalement ou tangentiellement de ce verre : l’eau n’est pas détectée.
    </p>
    <div class="title">
      <h3>4.3. Triboluminescence</h3>
      <hr class="sep-h3">
    </div>
    <p>
      Casser un morceau de sucre crée un phénomène lumineux et des charges électriques opposées sur chacun des morceaux (triboluminescence). <br>
      On peut caractériser le morceau porteur de la charge + ou - avec les baguettes et évaluer la durée de vie de ces charges.
    </p>
    <div class="title">
      <h2>5. CONCLUSION</h2>
      <hr class="sep-h2">
    </div>
    <p>
      Les quelques expériences menées dans les domaines abordés montrent les possibilités qu’offrent les baguettes pour suivre facilement les phénomènes électriques : recherche de lignes, analyse d’un circuit, contrôle des piles et de branchements, recherche de lignes téléphoniques, caractérisation des phénomènes triboélectriques, etc. On retiendra en particulier l’analogie de comportement entre le courant continu et les veines d’eau.
    </p>
  </div>
</div>

