<div class="section">
  <div class="home-top text-center">
    <h1>UN SOURCIER AMATEUR <br>FACE A LA PHYSIQUE, A LA CHIMIE <br>ET A LA BIOLOGIE</h1>
  </div>
  <div class="home-down">
    <div class="header-text text-center">
      <p>Sélectionner une expérience pour en savoir plus</p>
    </div>
    <div class="experiences">
      <a class="logo-links" href="/methode.html">
        <div class="experience-card bg-methode">
          <div class="experience-icon">
            <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1668409423/sourcier/ikn-methode.webp" alt="icone-methode">
          </div>
          <div class="experience-text">
            <h4 class="expe">methode</h4>
          </div>
        </div>
      </a>
      <a class="logo-links" href="/eau.html">
        <div class="experience-card bg-eau">
          <div class="experience-icon">
            <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1668409396/sourcier/ikn-eau.webp" alt="icone-eau">
          </div>
          <div class="experience-text">
            <h4 class="expe">eau</h4>
          </div>
        </div>
      </a>
      <a class="logo-links" href="/electricite.html">
        <div class="experience-card bg-electricite">
          <div class="experience-icon">
            <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1668409402/sourcier/ikn-electricite.webp" alt="icone-electricité">
          </div>
          <div class="experience-text">
            <h4 class="expe">electricité</h4>
          </div>
        </div>
      </a>
      <a class="logo-links" href="/magnetisme.html">
        <div class="experience-card bg-magnetisme">
          <div class="experience-icon">
            <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1668409420/sourcier/ikn-magnetisme.webp" alt="icone-magnétisme">
          </div>
          <div class="experience-text">
            <h4 class="expe">magnétisme</h4>
          </div>
        </div>
      </a>
      <a class="logo-links" href="/ondes.html">
        <div class="experience-card bg-ondes">
          <div class="experience-icon">
            <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1668409431/sourcier/ikn-ondes.webp" alt="icone-ondes">
          </div>
          <div class="experience-text">
            <h4 class="expe">ondes</h4>
          </div>
        </div>
      </a>
      <a class="logo-links" href="/cristaux.html">
        <div class="experience-card bg-cristaux">
          <div class="experience-icon">
            <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1668409392/sourcier/ikn-cristaux.webp" alt="icone-cristaux">
          </div>
          <div class="experience-text">
            <h4 class="expe">crystaux</h4>
          </div>
        </div>
      </a>
      <a class="logo-links" href="/conducteurs.html">
        <div class="experience-card bg-conducteurs">
          <div class="experience-icon">
            <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1668409362/sourcier/ikn-conducteur.webp" alt="icone-conducteur">
          </div>
          <div class="experience-text">
            <h4 class="expe">conducteurs</h4>
          </div>
        </div>
      </a>
      <a class="logo-links" href="/biologie.html">
        <div class="experience-card bg-biologie">
          <div class="experience-icon">
            <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1668409387/sourcier/ikn-biologie.webp" alt="icone-biologie">
          </div>
          <div class="experience-text">
            <h4 class="expe">biologie</h4>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="banner-sciences">
  <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950239/sourcier/sciences.webp" alt="sciences">
</div>
<div class="section" id="info">
  <div class="sub-section">
    <div class="main-title text-center">
      <h2>La Physique, la Chimie, la Biologie et un Sourcier amateur</h2>
    </div>
    <p>
      Cette étude fait suite à celle que j’ai entreprise pour la caractérisation du parcours de l’eau et la découverte de structures disparues au Château de Fontainebleau. Les résultats font l’objet du site eauduparc.com:
    </p>
    <div class="images text-center">
      <a href="https://www.eauduparc.com">
        <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950247/sourcier/eauduparc.webp" alt="site eauduparc.com" target="_blank">
      </a>
    </div>
    <p>
      J’ai voulu sur ce site montrer les possibilités qu’offrent les baguettes de sourcier dans des secteurs différents qui touchent à la Physique, à la Chimie et un peu à la Biologie.
    </p>
    <p>
      Si le domaine le plus pratiqué par le sourcier est la recherche de l’eau, d’autres problèmes concernant le milieu liquide peuvent également être abordés avec les baguettes comme mesurer des volumes, évaluer la concentration de solutions aqueuses en sel ou en sucre, différencier des liquides alimentaires, suivre des réactions chimiques.
    </p>
    <p>
      Les baguettes étant depuis longtemps utilisées par les mineurs pour la détection des métaux, j’ai cherché à savoir comment les différencier selon leur nature et comment on pouvait détecter des pièces fausses. Tester l’efficacité des isolants solides et liquides et suivre des réactions chimiques entrainant des changements de conductivité ont été abordés.
    </p>
    <div class="image">
      <img loading="lazy" src="XXXXXXXXXXXX" alt="home-3">
    </div>
    <p>
      A ma connaissance peu d‘expériences ont été menées sur les cristaux, en particulier sur les sulfures conducteurs tel que la pyrite et la galène et sur la magnétite Fe<sub>3</sub>O<sub>4</sub>. Leurs axes de symétrie et leur orientation ont été déterminés.
    </p>
    <p>
      L’influence toute particulière que jouent les aimants sur la détection avec les baguettes est soulignée. Les caractéristiques des ferrites non conductrices et de la magnétite sont précisées ainsi que leur rôle inhibiteur sur la détection de l’eau et des conducteurs.
    </p>
    <p>
      Au niveau de l’électricité les baguettes sont capables de suivre un courant continu et d’évaluer son intensité se comportant comme un ampèremètre. Elles permettent aussi de caractériser la charge d’une pile électrique et de reconnaitre une ligne téléphonique aérienne ou souterraine.
      <br>
      Au niveau du courant alternatif, il est possible de préciser d’où viennent les lignes aboutissant à des prises de courant et de tester des branchements.
    </p>
    <p>
      Les quelques expériences menées en biologie montrent qu’il est possible de suivre la montée de la sève dans les arbres, montée qui s’arrête avec la chute des feuilles.
      <br>
      Dans certains cas les baguettes indiquent que les anomalies observées sur l’allure d’un arbre sont souvent liées au fait qu’une veine d’eau passe sous ses pieds.
    </p>
    <div class="signature text-right">
      <p>J. Bessière</p>
    </div>
  </div>
</div>
<div class="section" id="contact">
  <div class="contact-header text-center">
    <h2>CONTACT</h2>
  </div>
  <div class="contact-body">
    <h5>Pour poser toutes vos questions ou commentaires</h5>
    <a id="mail-contact" data-controller="trackers" data-event="Contact" data-action="click->trackers#activateTracker" href="mailto:jmbessiere@gmail.com">
      <i class="far fa-envelope fa-5x"></i>
    </a>
  </div>
</div>

