<div class="section">
  <div class="banner" id="introduction">
    <h1 class="main-title">INTRODUCTION</h1>
  </div>
  <div class="experience">
    <p>
      Cette étude fait suite à celle que j’ai entreprise pour la caractérisation du parcours de l’eau et la découverte de structures disparues au Château de Fontainebleau. Les résultats font l’objet du site www.eauduparc.com
    </p>
    <p>
      J’ai voulu dans ce document montrer les possibilités qu’offrent les baguettes de sourcier dans des secteurs différents qui touchent à la Chimie, à la Physique et un peu à la Biologie.
    </p>
    <p>
      Si le domaine le plus pratiqué par le sourcier est la recherche de l’eau (détection, direction, profondeur, débit) d’autres problèmes concernant le milieu liquide peuvent également être abordés avec les baguettes. <br>
      On verra qu’il est possible de mesurer des volumes, de détecter la concentration de solutés comme le sel ou le sucre, de différencier des liquides alimentaires comme les eaux minérales, d‘évaluer des températures, de suivre des réactions de titrage en solution, les baguettes remplaçant le conductimètre.
    </p>
    <p>
      En électricité, nous verrons que les baguettes sont capables de suivre un courant continu et d’évaluer après étalonnage son intensité, se comportant comme un ampèremètre. Au niveau du courant alternatif, il est possible de préciser d’où viennent les lignes aboutissant à des prises de courant et de reconnaitre une ligne téléphonique parmi les lignes aériennes ou souterraines.
    </p>
    <p>
      L’influence toute particulière que jouent les aimants sur la détection avec les baguettes est soulignée. Les caractéristiques des ferrites non conductrices et de la magnétite sont précisées ainsi que leur rôle inhibiteur sur la détection de l’eau et des conducteurs.
    </p>
    <p>
      Si les baguettes ont été depuis longtemps utilisées par les mineurs pour la détection des métaux, nous avons cherché à savoir comment les différencier selon leur composition, et comment détecter des fausses pièces de monnaie. Evaluer les surfaces de plaques métalliques, tester l’efficacité des isolants solides et liquides, suivre des réactions chimiques entrainant des changements de conductivité sont abordés.
    </p>
    <p>
      A ma connaissance peu d‘expériences ont été menées sur les cristaux, en particulier sur les sulfures conducteurs tel que la pyrite et la galène, et sur la magnétite pour lesquels les axes de symétrie et leurs orientations ont été déterminées.
    </p>
    <p>
      Les quelques expériences menées en biologie végétale montrent qu’il est possible de suivre la montée de la sève dans les arbres Dans certains cas, nous verrons que les anomalies observées sur l’allure d’un arbre sont directement liées au fait qu’une veine d’eau passe sous ses pieds. <br>
      Dans le cas des fruits des légumes et des fleurs nous verrons qu’il est possible de les ranger dans trois catégories et de suivre leur fraicheur.
    </p>
    <p>
      En biologie animale, nous découvrirons que les baguettes se révèlent également utiles pour savoir si deux œufs ont été pondus par des poules de la même famille, et pour suivre la fraicheur d’un œuf.
    </p>
  </div>
</div>
