<div class="section">
  <div class="banner" id="methode">
    <h1 class="main-title">LA MÉTHODE</h1>
  </div>
  <div class="experience">
    <div class="title">
      <h2>1. RECHERCHE DE VEINES D'EAU</h2>
      <hr class="sep-h2">
    </div>
    <p>
      La détection des veines d’eau avec les baguettes de sourcier existe depuis la nuit des temps. L’implantation sur des veines d’eau des menhirs au néolithique et des premières églises romanes au début du Xe siècle est l’indice que nos lointains ancêtres avaient déjà une bonne connaissance du sous-sol aquifère. <br>
      Pourtant certaines critiques, parfois virulentes, mettent en doute la technique et ses résultats.
    </p>
    <p>
      Des tentatives d‘explication ont été avancées par des scientifiques faisant intervenir l’influence du champ magnétique, les conventions mentales, plus récemment la mécanique quantique. <br>
      Je me borne ici à donner des indications sur la méthode que j’ai utilisée. Il est important de souligner que les signaux observés dépendent de l’opérateur : par exemple certains verront leurs baguettes en L s’écarter sur une veine d’eau alors que d’autres les verront se croiser, voire se déplacer vers la droite ou la gauche.
    </p>
    <div class="title">
      <h3>1.1. Détection</h3>
      <hr class="sep-h3">
    </div>
    <p>
      La pratique demande une forte concentration. Toute gêne extérieure comme le bruit, le mouvement, la présence d’une personne, peut compromettre les résultats. Il est donc conseillé d’opérer seul et détendu. Les baguettes en L remplacent souvent les baguettes de coudrier moins commodes à utiliser dans la mesure où elles demandent un effort de torsion relativement important. <br>
      La figure suivante précise les caractéristiques des baguettes utilisées ainsi que la démarche pour localiser une petite veine d’eau.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950286/sourcier/methode-fig-1-2.webp" alt="methode-1-2">
    </div>
    <p>
      La vitesse de déplacement de l’opérateur joue un rôle essentiel : dans cette première étape, la marche se fait à la vitesse habituelle. Il est important de préciser que les baguettes ne détectent pas l’eau immobile.
    </p>
    <div class="title">
      <h3>1.2. Profondeur</h3>
      <hr class="sep-h3">
    </div>
    <p>
      La figure suivante précise comment déterminer la profondeur d’une petite veine d’eau. Contrairement au cas précédent, la détermination implique une marche lente vers la veine d’eau pour la détection de trois signaux.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950285/sourcier/methode-fig-3.webp" alt="methode-3">
    </div>
    <p>
      Lorsque la veine d’eau devient plus large et plus épaisse, on passe de trois à cinq puis à sept signaux parallèles à la veine d’eau. Le signal des baguettes change alternativement au cours de la progression perpendiculaire.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950286/sourcier/methode-fig-4.webp" alt="methode-4">
    </div>
    <p>
      Quand la veine d’eau est étroite, il est impossible, debout, de déterminer sa largeur avec précision. Pour y parvenir on chevauche la veine d’eau détectée dans le sens de l’eau et l’on écarte progressivement les bras : les baguettes sont d’abord inertes puis se croisent dès que les limites de la veine d’eau sont atteintes.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1670574381/sourcier/methode-fig-5.webp" alt="methode-5">
    </div>
    <p>
      Il est possible de détecter facilement avec les baguettes la profondeur à laquelle l’eau entre ou sort du Grand Canal du Château de Fontainebleau en mesurant la distance séparant les limites correspondantes de part et d’autre de la veine d‘eau : par exemple la distance de 6m correspond à une profondeur de 3m.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1670574340/sourcier/methode-fig-5b.webp" alt="methode-5b">
    </div>
    <p>
      Dans certains cas, il est impossible d’appliquer les règles précédentes pour déterminer la profondeur de la veine d’eau lorsqu’elle se trouve à un endroit dont la surface est limitée par un obstacle comme des murs. Pour résoudre le problème on utilise la méthode "Point Depth" proposée par le Major R. Creyke.
    </p>
    <p>
      Elle consiste à fixer une tige de mu-métal (alliage nickel fer) sur la verticale de la veine d’eau qui a été localisée. On remarque alors que les quatre parallèles qui déterminent la largeur et la profondeur de la veine sont remplacées par deux cercles concentriques dont les rayons mesurent ces grandeurs quel que soit l’endroit où l’on se trouve.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950286/sourcier/methode-fig-6.webp" alt="methode-6">
    </div>
    <p>
      Ne disposant pas de mu-métal, je l’ai remplacé par deux ferrites superposées sur leurs faces Nord ou Sud et placées sur une surface métallique en fer qui assure l’horizontalité, comme une boite de cachou. J’ai observé les cercles concentriques attendus. Il est important de signaler que si les ferrites sont sur leur faces mixtes, les baguettes ne donnent aucun signal. <br>
      On voit sur la figure de droite que la détermination de la profondeur est possible seulement si l’on se place en haut à droite du terrain.
    </p>
    <div class="title">
      <h3>1.3. Débit</h3>
      <hr class="sep-h3">
    </div>
    <p>
      Lorsque l’on chevauche à un endroit donné une conduite d’eau dans le sens de l’écoulement, l’écartement des baguettes augmente avec le débit comme l’atteste la figure. Si l’on se met en sens contraire, le croisement des baguettes s’amplifie. C’est d’ailleurs dans ce sens que l’on se place pour effectuer les mesures.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950286/sourcier/methode-fig-7.webp" alt="methode-7">
    </div>
    <p>
      Pour déterminer ce signal, il est nécessaire d’une part de graduer les baguettes en fonction du débit de l’eau au niveau du sol, soit do=f(D), et d’autre part de connaitre la réponse des baguettes pour un débit donné   en fonction de la profondeur de la veine d’eau, soit d=f(p).
    </p>
    <div class="title">
      <h4>1.3.1. Influence du débit de veines d’eau au niveau du sol</h4>
      <hr class="sep-h4">
    </div>
    <p>
      J’ai établi la courbe d=f(D) en caractérisant le signal des baguettes en me plaçant au-dessus d’une lance de pompier au sol, équipée d’un débitmètre. Les résultats sont les suivants :
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950286/sourcier/methode-fig-8.webp" alt="methode-8">
    </div>
    <p>
      On constate que la réponse des baguettes croit fortement lorsque le débit diminue sensiblement. Il est indiqué dans la littérature que les débits des veines d’eau souterraines sont inférieurs à 1l/s quand ils sont faibles, entre 1 et 2,5l/s quand ils sont moyens, et entre 2,5 et 8,5l/s quand ils sont forts.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950286/sourcier/methode-fig-9.webp" alt="methode-9">
    </div>
    <div class="title">
      <h4>1.3.2. Influence de la profondeur</h4>
      <hr class="sep-h4">
    </div>
    <p>
      J’ai constaté qu’en suivant aux différents étages de mon immeuble la réponse d’une veine d’eau passant au rez de chaussée, d variait linéairement de d2 à d6 au 4éme étage, soit 15m plus haut. La réponse des baguettes dépend donc très sensiblement de la distance entre l’opérateur et la veine d’eau.  Il reste à savoir si la mesure faite à 15m au-dessus du sol est la même que celle que l’on obtiendrait au sol si la veine d’eau était à une profondeur de 15m, la nature des espaces traversés étant très différente. Pour le moment, j'admets que c'est le cas.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950310/sourcier/methode-fig-10.webp" alt="methode-10">
    </div>
    <p>
      SI l’on admet que la différence est faible, la combinaison des courbes d=f(D) et d=f(p) permet d’évaluer le débit d’une veine à une profondeur donnée à condition d’admettre que les variations d=f(p) sont les mêmes quel que soit le débit.
    </p>
    <p>
      Par exemple, pour une veine d’eau A profonde à 10m, les baguettes se croisent à d5,5. On se trouve au point B de la figure. Si cette veine d’eau était au sol, on serait en B’: les baguettes indiquent d3,0 auquel correspond le débit B’’ égal à 5,8m<sup>3</sup>/h. <br>
      Pour la veine B se trouvant à 10m de profondeur, le même raisonnement indique un débit de 8,0m<sup>3</sup>/h.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950310/sourcier/methode-fig-11.webp" alt="methode-11">
    </div>
    <p>
      Des mesures réalisées sur des veines d’eau dont le débit et la profondeur sont connus sont en cours pour conclure.
    </p>
    <div class="title">
      <h3>1.4. Parcours de l'eau</h3>
      <hr class="sep-h3">
    </div>
    <p>
      Une fois que la veine d’eau a été détectée, il est facile de suivre son parcours en la chevauchant: les baguettes s’écartent lorsque l’on est dans le sens de l’eau et se croisent dans le sens contraire. Elles reviennent à leur position de repos lorsque l’on sort de la veine d’eau.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950311/sourcier/methode-fig-12.webp" alt="methode-12">
    </div>
    <div class="title">
      <h3>1.5. Eau montante et eau descendante</h3>
      <hr class="sep-h3">
    </div>
    <p>
      Les baguettes permettent de préciser le sens dans lequel coule l’eau dans une conduite verticale. <br>
      Lorsque l’eau descend et que l’on tourne tangentiellement autour de la conduite à une distance d, les baguettes s’approchent de la conduite. Si l’on s‘avance face à la conduite les baguettes se croisent. On observe les signaux inversés lorsque l’eau monte. <br>
      La distance d représentée sur la figure augmente avec le débit de la conduite. <br>
      Cette technique sera utilisée pour suivre la montée de la sève dans les arbres.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950310/sourcier/methode-fig-13.webp" alt="methode-13">
    </div>
    <div class="title">
      <h3>1.6. Méthode des témoins</h3>
      <hr class="sep-h3">
    </div>
    <p>
      Pour chercher de l’eau à un endroit donné on prend une petite bouteille d’eau qui sert de témoin. On la pose à terre et on en fait le tour tangentiellement avec les baguettes. <br>
      A un moment, les baguettes tournent parallèlement vers une direction que l’on note. On marche alors dans cette direction, et à un moment les baguettes se dirigent dans le sens de la veine d’eau qui est ainsi détectée. On peut déplacer le témoin et refaire une autre détermination pour confirmer la première ou détecter d’autres veines d’eau éventuellement présentes localement. <br>
      Il n’y a pas de signal entre la bouteille d’eau et une ligne téléphonique ou une canalisation de gaz qui font également dévier les baguettes.
    </p>
    <p>
      La sensibilité de la méthode est directement liée au volume d’eau dans la bouteille et à la vitesse d’écoulement de la veine d’eau recherchée. Avec une bouteille d’un demi-litre et une valeur moyenne de débit (d4) on a pu détecter une veine d’eau qui était située à 15m de la bouteille témoin.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950310/sourcier/methode-fig-14.webp" alt="methode-14">
    </div>
    <div class="title">
      <h3>1.7. Les baguettes repondent-elles lorsque que l'eau est immobile ?</h3>
      <hr class="sep-h3">
    </div>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1670574392/sourcier/methode-fig-14b.webp" alt="methode-14b">
    </div>
    <div class="title">
      <h3>1.8. Comment localiser une structure enterrée ?</h3>
      <hr class="sep-h3">
    </div>
    <p>
      Quelquefois le sourcier ne détecte pas l’eau alors qu’elle coule. Cela est dû au fait que l’eau circule dans une conduite antistatique qui est dépourvue de charges triboélectriques.  <br>
      On observe le même résultat si l’on place un stylo à bille antistatique à la verticale d’une veine d’eau, ou si le sourcier en tient un dans la main ou le porte sur lui.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1670574401/sourcier/methode-fig-14c.webp" alt="methode-14c">
    </div>
    <div class="title">
      <h3>1.9. Comment localiser une structure enterrée ?</h3>
      <hr class="sep-h3">
    </div>
    <p>
      Les archéologues russes ont été parmi les premiers à utiliser la radiesthésie pour rechercher les nécropoles d’Ivan le Terrible et analyser les champs de batailles de Napoléon. Les souterrains pendant la guerre de 1914 ou au Vietnam étaient détectés par des sourciers. <br>
      La localisation d’une structure enterrée, basée probablement elle aussi sur une variation du champ magnétique, implique un déplacement très lent, perpendiculairement à la structure. Une démarche en sens inverse confirme cette localisation.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950310/sourcier/methode-fig-15.webp" alt="methode-15">
    </div>
    <p>
      Détection de l'ancienne entrée du Château de Fontainebleau au bout de l'allée Maintenon
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1670574411/sourcier/methode-fig-15b..webp" alt="methode-15b">
    </div>
    <div class="title">
      <h2>2. L’EAU ET LES EGLISES</h2>
      <hr class="sep-h2">
    </div>
    <p>
      De nombreux lieux de culte anciens sont construits par rapport aux veines d’eau souterraines qui apportent au lieu l’information de l’eau, source de vie, moyen de purification et centre de régénérescence. Les constructeurs d’église romanes avaient une bonne connaissance du sous-sol aquifère du site choisi : souvent l’église romane est parcourue par une grande veine d’eau dirigée vers l’Est dans l’axe de la nef et par plusieurs veines perpendiculaires comme l’attestent par exemple les églises de Montfermy et de Loquénolé. Il est clair que la nature n’est pas seule responsable de ces réseaux souterrains et que certains canaux ont été creusés de la main de l’homme.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950311/sourcier/Methode-fig-16.webp" alt="methode-16">
    </div>
    <p>
      J’ai confirmé avec les baguettes qu’il en était de même à l’Église Saint Pierre d’Avon qui date des années 1100.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950311/sourcier/methode-fig-17.webp" alt="methode-17">
    </div>
    <p>
      On retrouve principalement dans la partie primitive de l’Église les veines d’eau qui dessinent la croix. La veine de la nef rigoureusement dirigée à l’Est est à 6m de profondeur alors que deux des trois veines rigoureusement perpendiculaires le sont à 4m, la dernière, centrale, étant à 2m. Il est probable que certaines résultent du travail de l’homme, comme les quatre canalisations qui se croisent au centre du chœur de l’église primitive. On retrouve la même disposition à la cathédrale de Chartres où j’ai confirmé que dix canalisations arrivaient sous le Chœur et que quatre en repartaient.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950310/sourcier/methode-fig-18.webp" alt="methode-18">
    </div>
    <p>
      Il ressort de cette étude que la symbolique souterraine de l’eau apparait dans les fondations de l’Église Saint-Pierre d’Avon comme à Loquénolé et à Montfermy.
    </p>
    <p>
      La connaissance préalable du parcours de l’eau par les sourciers de l’époque a été un facteur déterminant pour décider de l’implantation de ces églises à un endroit donné.
    </p>
  </div>
</div>

