<div class="section">
  <div class="banner" id="ondes">
    <h1 class="main-title">LES ONDES</h1>
  </div>
  <div class="experience">
    <div class="title">
      <h2>1. LA RADIO</h2>
      <hr class="sep-h2">
    </div>
    <p>
      Il est possible avec les baguettes de sourcier de mettre en évidence le fonctionnement d’un poste de radio portatif.
    </p>
    <p>
      Le poste éteint donne deux signaux: celui de l’antenne en fer, et celui des piles alimentant le poste. Lorsque le poste est ouvert le signal du fer est remplacé par l’ouverture des baguettes à condition que l’on soit sur la bonne fréquence, sinon les baguettes ne répondent pas.
    </p>
      Lorsque la tonalité est minimale, la détection sur FM est possible à 20cm de l’appareil. Lorsqu’elle est maximale, cette détection passe à 1m.
    </p>
    <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950411/sourcier/ondes-1.webp" alt="ondes-1">
    </div>
    <div class="title">
      <h2>2. LA LUMIERE</h2>
      <hr class="sep-h2">
    </div>
    <p>
      Les baguettes se dirigent parallèlement vers l’extérieur d’une source de lumière électrique. On peut la détecter sur une distance supérieure à 3m.
    </p>
    <p>
      Si l’on pose verticalement une lampe éteinte alimentée par une pile, on constate que les baguettes se dirigent vers la pile. Si on l’allume, les baguettes se dirigent dans le sens opposé. La distance de détection est de 2,5m dans le cas d’une pile neuve.
    </p>
      Dans le cas d’une pile alimentée par des ampoules LED, la distance est de 1m. <br>
      Dans le cas d’une lampe magnéto-rechargeable, les baguettes sont inactives lorsqu’elle est éteinte, mais se dirigent vers l’extérieur lorsqu’elle est allumée. Elle est détectable sur plus de 7m.
    </p>
     <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950410/sourcier/ondes-2.webp" alt="ondes-2">
    </div>
    <p>
      Il est possible avec les baguettes de suivre la lumière réfléchie par un miroir. Lorsque le faisceau émis est perpendiculaire au miroir, les baguettes sont inactives car les signaux aller et retour se superposent et s’annulent car de sens contraire.
    </p>
     <div class="image">
      <img loading="lazy" src="https://res.cloudinary.com/bessiere/image/upload/v1666950411/sourcier/ondes-3.webp" alt="ondes-3">
    </div>
  </div>
</div>
